*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root 
{
  --primary-color: #000000;
  --primary-text: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body 
{
  color: var(--primary-text);
}
